*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

/* Header */
header{
  width: 730px;
  height: 90px;
  background-color:#E579E6;
  margin: auto;
  margin-bottom: 20px;;
}
/* /Header */

/* Container */
.main{
  width: 730px;
  height: 305px;
  background-color:#E1D67A;
  margin: auto;
  margin-bottom: 20px;
}
/* /Container */

/* Container 2 */
.container{
  width: 730px;
  height: 420px;
  background-color: #0184F5;
  margin: auto;
  margin-bottom: 10px;
}

.title{
  width: 730px;
  height: 50px;
  background-color: #ABCFE7;
  margin-bottom: 14px;
}

.container .link,
.container .main-content,
.container .widgets{
  float: left;
  background-color: #ABCFE7;
  height: 340px;
}

aside.link,.widgets {
  width: 150px;
}

.main-content{
  width: 400px;
  margin: 0 15px;
}
/* /Container 2 */

/* Footer */
footer{
  width: 730px;
  height: 40px;
  background-color: #8801FE;
  margin: auto;
}
/* /Footer */